<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Oze-20161013104223.mdf;Initial Catalog=aspnet-Oze-20161013104223;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--local-->
    <!--<add name="ConnectionString_OzeGeneral" connectionString="server=.;UID=sa;PWD=sa;database=OzeGeneral;Connect Timeout=30;Pooling=false;"/>
    <add name="ConnectionString_OzeMember" connectionString="server=.;UID=sa;PWD=sa;database=xxxx;Connect Timeout=30;Pooling=false;"/>-->
    <!--/local-->
      
    <!--Server online MatBao-->
    <!--<add name="ConnectionString_OzeGeneral" connectionString="server=112.78.2.96,1433;UID=olocaa16_oze;PWD=Oze12345@;database=olocaa16_OzeGeneral;Connect Timeout=30;Pooling=false;"/>-->
    <!--<add name="ConnectionString_OzeMember" connectionString="server=112.78.2.96,1433;UID=olocaa16_oze;PWD=Oze12345@;database=olocaa16_xxxx;Connect Timeout=30;Pooling=false;"/>--> 
    <!--/Server online MatBao-->

    <!--Server online-->
    <add name="ConnectionString_OzeGeneral" connectionString="server=210.211.126.238;UID=sa;PWD=210sa123!;database=OzeShop;Connect Timeout=30;Pooling=false;" />
    <add name="ConnectionString_OzeMember" connectionString="server=210.211.126.238;UID=sa;PWD=210sa123!;database=xxxx;Connect Timeout=30;Pooling=false;" />
    <!--/Server online-->
    <!--<add name="ConnectionString_OzeGeneral" connectionString="server=FIT-TRUNGND\TRUNGND;UID=sa;PWD=sa;database=OzeGeneral_v27;Connect Timeout=30;Pooling=false;"/>-->
  
  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--ThichPV tạo Key config-->
    <add key="Upload_file" value="/File/ThichPVTest/" />
    <!-- ten app; dung de tao folder luu log data-->
    <add key="BASE_APP_NAME" value="OzeHotel" />
    <!-- 1-ghi log; 0-ko ghi log (phai call tai moi function can log error)-->
    <add key="BASE_LOG_ERROR" value="1" />
    <!-- 1-ghi log; 0-ko ghi log (da auto log tai CSQL)-->
    <add key="BASE_LOG_SQL" value="1" />
    <!-- 1-ghi log thanh nhieu file (1 ngay = 1 folder); 0-ghi log 1 ngay 1 file-->
    <add key="BASE_LOG_MULTI_THREAD" value="0" />
    <!-- D:\WebLog\MyApp\ERROR\2014\05\17\1gzjxwqq.p0b  |  D:\WebLog\MyApp\ERROR\2014-05-17.txt -->
    <add key="BASE_LOG_PATH_ERROR" value="D:\WebLog\(AppName)\ERROR\(yyyy)\(MM)\(dd)\" />
    <!-- D:\WebLog\MyApp\SQL\2014\05\17\1gzjxwqq.p0b    |  D:\WebLog\MyApp\SQL\2014-05-17.txt -->
    <add key="BASE_LOG_PATH_SQL" value="D:\WebLog\(AppName)\SQL\(yyyy)\(MM)\(dd)\" />
    <!-- D:\WebLog\MyApp\TEXT\2014\05\17\1gzjxwqq.p0b   |  D:\WebLog\MyApp\TEXT\2014-05-17.txt -->
    <add key="BASE_LOG_PATH_TEXT" value="D:\WebLog\(AppName)\TEXT\(yyyy)\(MM)\(dd)\" />
    <!-- D:\WebLog\MyApp\TYPE\2014\05\17\1_SECURITY_14_22_59__1gzjxwqq.txt -->
    <add key="BASE_LOG_PATH_EX" value="D:\WebLog\(AppName)\LogEx\(yyyy)\(MM)\(dd)\(FileName)" />
    <!-- caller phai tu goi vao ham CLog.LogEx -->
    <add key="BASE_TEMPLATE_LOG_EX_FILENAME" value="(thread)__(type)__(hh)_(mm)_(ss)__(random).(ext)" />

    <add key="AdvImagePath" value="\" />
    <add key="UploadSmallImg" value="\" />
    <add key="UploadFashionLargeImg" value="\" />
    <add key="UploadFileHtml" value="\" />
    <add key="UploadReport" value="\" />

    <add key="SendMKEmail" value="" />

   

    <add key="ConnectionString_OzeGeneral" value="server=210.211.126.238;UID=sa;PWD=210sa123!;database=OzeShop;Connect Timeout=30;Pooling=false;" />
   <!--Mail server-->
    <add key="MailServerAddress" value="mail.zopost.vn" />
    <add key="MailServerUser" value="sbsservice@zopost.vn" />
    <add key="MailServerPassword" value="11002299" />

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  
  <system.webServer>
     <!--<staticContent>
        <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>-->
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="327680" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>