<html><head><meta http-equiv=Content-Type content='text/html; charset=unicode'></head><body><table align="center" border="1" cellpadding="0" cellspacing="0" style="width: 707px">
	<tbody>
		<tr>
			<td colspan="7" style="text-align: center">
				<table border="0" cellpadding="0" cellspacing="0" style="width: 695px; margin-left: 12pt; margin-right: 12pt">
					<tbody>
						<tr>
							<td colspan="2" style="text-align: left">
								<span><img alt="" height="86" src="http://www.fpts.com.vn/VN/Newsletter/Images/logo.gif" width="136" />﻿</span>﻿</td>
							<td colspan="5" style="text-align: justify">
								<div style="text-align: center; margin-top: 16px">
									<span style="color: #163379"><span style="font-size: 20px"><span style="font-family: arial,helvetica,sans-serif"><strong>CÔNG TY CỔ PHẦN CHỨNG KHOÁN FPT<br />
									FPT SECURITIES</strong></span></span><span style="font-size: 26px"><span style="font-family: arial,helvetica,sans-serif"><strong>&nbsp;</strong></span></span></span></div>
							</td>
						</tr>
						<tr>
							<td colspan="7">
								<img alt="" height="33" src="http://www.fpts.com.vn/VN/Newsletter/Images/anh.gif" width="694" /></td>
						</tr>
						<tr>
							<td colspan="7" style="text-align: center; vertical-align: middle">
								<div style="text-align: left; margin-top: 16px">
									<table style="width: 690px; height: 81px">
										<tbody>
											<tr>
												<td colspan="2" style="text-align: center">
													<span style="font-size: 12px"><span style="font-family: times new roman,times,serif"><strong>FPTS Hà Nội</strong><br />
													Địa chỉ: Tầng 2, 71 Nguyễn Chí Thanh, Đống Đa, Hà Nội, Việt Nam<br />
													Tel: (84.4) 3773 7070 / 6271 7171 - Fax: (84.4) 3773 9058</span></span></td>
											</tr>
											<tr>
												<td style="text-align: center; width: 52%">
													<span style="font-size: 12px"><span style="font-family: times new roman,times,serif"><strong>FPTS Hồ Chí Minh</strong><br />
													Địa chỉ: Tầng 3, Tòa nhà Ben Thanh Times Square, 136-138 Lê Thị Hồng Gấm, P. Nguyễn Thái Bình, Quận 1, Tp. Hồ Chí Minh, Việt Nam<br />
													Tel: (84.8) 6290 8686 - Fax: (84.8) 6291 0607</span></span></td>
												<td style="text-align: center; width: 48%">
													<span style="font-size: 12px"><span style="font-family: times new roman,times,serif"><strong>FPTS Đà Nẵng</strong><br />
													Địa chỉ: 100 Quang Trung, P. Thạch Thang, Q. Hải Châu, Tp. Đà Nẵng, Việt Nam<br />
													Tel: (84.511) 3553 666 - Fax: (84.511) 3553 888</span></span></td>
											</tr>
										</tbody>
									</table>
									<p style="text-align: center">
										<span style="font-family: times new roman,times,serif; font-size: 16px"><strong>___________________________________________________________________________________<br />
										<br />
										THÔNG BÁO TÀI KHOẢN - ACCOUNT MAILER</strong></span></p>
								</div>
								<div style="text-align: left; margin-top: 16px">
									<table align="center" border="1" cellpadding="0" cellspacing="1" style="width: 689px; height: 123px">
										<tbody>
											<tr>
                                                <td style="width: 50%">
													<span style="font-size: 13px"><span style="font-family: times new roman,times,serif"><b>Tên đầy đủ:</b></span></span></td>
												<td style="text-align: center; vertical-align: middle">
													<span style="font-size: 14px"><span style="font-family: times new roman,times,serif"><strong><b>{fullname}</b></strong></span></span></td>
											</tr>
											<tr>
                                                <td style="width: 50%">
													<span style="font-size: 13px"><span style="font-family: times new roman,times,serif"><b>Tên đăng nhập:</b></span></span></td>
												<td style="text-align: center">
													<span style="font-size: 14px"><span style="font-family: times new roman,times,serif"><b>{dpid}</b></span></span></td>
											</tr>
											<tr>
												<td style="width: 50%">
													<span style="font-size: 12px"><span style="font-family: times new roman,times,serif">Mật khẩu truy cập / Login password:</span></span></td>
												<td style="background-color: #cccccc">
													&nbsp;{loginpass}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div style="text-align: left; margin-top: 16px">
									<span style="font-size: 12px"><span style="font-family: times new roman,times,serif">Để bảo mật thông tin, Quý khách vui lòng đổi mật khẩu khi truy cập lần đầu tiên&nbsp;tại: <a href="https://eztrade.fpts.com.vn">https://eztrade.fpts.com.vn</a></span></span></div>
								<div style="text-align: left; margin-top: 16px">
									<span style="font-size: 12px"><span style="font-family: times new roman,times,serif">For securing the access of your account from outsiders you will be required to change your password at the time of first login at: <a href="https://eztrade.fpts.com.vn">https://eztrade.fpts.com.vn</a> </span></span></div>
								<div style="margin-top: 16px">
									<span style="font-size: 16px"><strong><span style="font-family: times new roman,times,serif">HƯỚNG DẪN ĐĂNG NHẬP</span></strong></span></div>
								<div style="text-align: left; margin-top: 16px">
									<span style="font-size: 12px"><span style="font-family: times new roman,times,serif"><strong>Bước 1</strong>: Khách hàng có thể đăng nhập theo một trong hai cách sau:</span></span></div>
								<div style="text-align: left; margin-top: 16px">
									<span style="font-size: 12px"><span style="font-family: times new roman,times,serif">&nbsp;&nbsp;&nbsp;&nbsp; 1. Truy cập vào website <a href="http://www.fpts.com.vn">www.fpts.com.vn</a> và nhấn chuột vào block EzTrade</span></span></div>
								<div style="text-align: left; margin-top: 16px">
									<span style="font-size: 12px"><span style="font-family: times new roman,times,serif">&nbsp;&nbsp;&nbsp;&nbsp; 2. Truy cập trực tiếp vào dịch vụ EzTrade tại địa chỉ <a href="https://eztrade.fpts.com.vn">https://eztrade.fpts.com.vn</a> </span></span></div>
								<div style="text-align: left; margin-top: 16px">
									<span style="font-size: 12px"><span style="font-family: times new roman,times,serif"><strong>Bước 2</strong>: Nhấn Login</span></span></div>
								<div style="text-align: left; margin-top: 16px">
									<span style="font-size: 12px"><span style="font-family: times new roman,times,serif"><strong>Lưu ý</strong>:</span></span></div>
								<div style="text-align: left; margin-top: 16px">
									<span style="font-size: 12px"><span style="font-family: times new roman,times,serif">&nbsp;&nbsp;&nbsp;&nbsp; - Đối với lần đăng nhập đầu tiên: Nhập mật khẩu truy cập do FPTS cung cấp, nhấn Login, hệ thống sẽ yêu cầu khách hàng đổi mật khẩu truy cập;</span></span></div>
								<div style="text-align: left; margin-top: 16px">
									<span style="font-size: 12px"><span style="font-family: times new roman,times,serif">&nbsp;&nbsp;&nbsp;&nbsp; - Nếu nhập sai mật khẩu 5 lần: Hệ thống sẽ khóa tài khoản của khách hàng để đảm bảo an toàn;</span></span></div>
								<div style="text-align: left; margin-top: 16px">
									<span style="font-size: 12px"><span style="font-family: times new roman,times,serif">&nbsp;&nbsp;&nbsp;&nbsp; - Trường hợp quên mật khẩu hoặc mật khẩu bị khóa: Khách hàng có thể liên hệ với Phòng Dịch vụ khách hàng của FPTS theo số điện thoại (84.4) 3773 7065 / (84.8) 62555 689 / (84.511) 3553 666 hoặc gửi email về <a href="mailto:fcs@fpts.com.vn">fcs@fpts.com.vn</a> để phục hồi lại mật khẩu.</span></span></div>
							</td>
						</tr>
						<tr>
							<td colspan="7">
								&nbsp;</td>
						</tr>
						<tr>
							<td colspan="7">
								<img alt="" height="14" src="http://www.fpts.com.vn/VN/Newsletter/Images/middle.gif" style="width: 690px; height: 14px" width="701" /></td>
						</tr>
						<tr>
							<td>
								<div style="margin-top: 16px">
									<img alt="" src="http://www.fpts.com.vn/VN/Newsletter/ThongbaotuFPTS_Veviecgiamlaisuat_files/clip_image005.jpg" /><br />
									<span style="font-family: times new roman,times,serif"><span style="font-size: 11px"><a href="https://eztrade.fpts.com.vn">Giao dịch trực tuyến</a></span></span></div>
							</td>
							<td>
								<div style="margin-top: 16px">
									<span style="font-family: arial,helvetica,sans-serif"><img alt="" src="http://www.fpts.com.vn/VN/Newsletter/ThongbaotuFPTS_Veviecgiamlaisuat_files/clip_image007.jpg" /><br />
									<span style="font-family: times new roman,times,serif"><span style="font-size: 11px"><a href="http://ezsearch.fpts.com.vn/Services/" target="_blank">Cổng thông tin trực tuyến</a></span></span></span></div>
							</td>
							<td>
								<div style="margin-top: 16px">
									<span style="font-family: arial,helvetica,sans-serif"><img alt="" src="http://www.fpts.com.vn/VN/Newsletter/ThongbaotuFPTS_Veviecgiamlaisuat_files/clip_image009.jpg" /><br />
									<span style="font-family: times new roman,times,serif"><span style="font-size: 11px"><a href="https://ezdiscuss.fpts.com.vn/">Trao đổi kinh nghiệm đầu tư</a></span></span></span></div>
							</td>
							<td>
								<span style="font-family: arial,helvetica,sans-serif"><img alt="" src="http://www.fpts.com.vn/VN/Newsletter/ThongbaotuFPTS_Veviecgiamlaisuat_files/clip_image011.jpg" /></span></td>
							<td>
								<span style="font-family: arial,helvetica,sans-serif">&nbsp;<span style="font-size: 11px"><span style="font-family: times new roman,times,serif"><a href="http://www.fpts.com.vn/user/contact/">Tư vấn đầu tư</a></span></span></span></td>
							<td>
								<span style="font-family: arial,helvetica,sans-serif"><img alt="" src="http://www.fpts.com.vn/VN/Newsletter/ThongbaotuFPTS_Veviecgiamlaisuat_files/clip_image013.jpg" /></span></td>
							<td>
								<span style="font-size: 11px"><span style="font-family: times new roman,times,serif"><a href="http://www.fpts.com.vn/vn/lien-he/hn/">Hỗ trợ&nbsp;khách hàng</a></span></span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<div style="margin-top: 16px">
	&nbsp;</div>
</body></html>