<div id="myModalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title_confirm"></h4>
            </div>
            <div class="modal-body" id="bodyConfirm">
                <div class="modal-body-content">
                    <p>Loading...</p>
                </div>
            </div>
            <div class="modal-footer" id="confirmFooter">
                <div id="divDelete" style="display: -webkit-inline-box"></div>
                <button type="button" id="btnDelete" class="btn btn-default">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
    <input id="identifierDelete" name="txtType" required="1" type="hidden" value="" />
</div>
