<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OzeConnectionString" connectionString="Data Source=(local);Initial Catalog=OzeGeneral;User ID=sa;Password=sa123!" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString_OzeGeneral" connectionString="server=210.211.126.238;UID=sa;PWD=210sa123!;database=OzeShop;Connect Timeout=30;Pooling=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--<add name="V21ConnectionString" connectionString="Data Source=192.168.10.35;Initial Catalog=V21_UAT;User ID=lamlt;Password=lamlt1234;Max Pool Size=2000" providerName="System.Data.SqlClient" />
  <add name="V21LGC_NetworkConnectionString" connectionString="Data Source=192.168.10.35;Initial Catalog=LGC_Network_UAT;User ID=lamlt;Password=lamlt1234;Max Pool Size=2000" providerName="System.Data.SqlClient"/>
  <add name="V21_REPORTConnectionString" connectionString="Data Source=192.168.10.35;Initial Catalog=V21_REPORT_UAT;User ID=lamlt;Password=lamlt1234" providerName="System.Data.SqlClient"/>-->

</configuration>