@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Root.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Accounts"))
{
    <div class="tab-title">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a aria-controls="@ViewBag.Title" role="tab" data-toggle="tab">@ViewBag.Title</a></li>
        </ul>
    </div>
    <!-- Main content -->
        <div class="box-header with-border">
            <label class="text-sm text-red">@ViewBag.Firstlogin @ViewBag.ChangeMesg</label>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">        
            <div class="box-body">
                <div class="form-group form-group-chpw">
                    <label for="inputPassword3" class="col-sm-3 control-label">Mật khẩu hiện tại</label>
                    <div class="col-sm-9">
                        <input type="password" name="currentpw" class="form-control" id="inputPassword3" placeholder="Mật khẩu hiện tại" required>
                    </div>
                </div>
                <br/>
                <div class="form-group form-group-chpw">
                    <label for="inputPassword3" class="col-sm-3 control-label">Mật khẩu mới</label>
                    <div class="col-sm-9">
                        <input type="password" name="newpw" class="form-control" id="inputPassword3" placeholder="Mật khẩu mới" required>
                    </div>
                </div>
                <br />
                <div class="form-group form-group-chpw">
                    <label for="inputPassword3" class="col-sm-3 control-label">Xác nhận mật khẩu mới</label>
                    <div class="col-sm-9">
                        <input type="password" name="cfnewpw" class="form-control" id="inputPassword3" placeholder="Xác nhận mật khẩu mới" required>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            @*<div class="box-footer">
                <button type="submit" name="command" value="changpwsub" class="btn btn-warning pull-left">Thay đổi</button>
            </div>*@
            <div class="modal-footer clearfix">
                <button id="btnSave" type="submit" name="command" value="changpwsub" class="btn btn-block btn-oze-success btn-flat btn-save">
                    <div class="btn-border"><p>Cập nhật</p></div>
                </button>
            </div>
            <!-- /.box-footer -->
        </form>
}