
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_AccountRoot.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Accounts"))
{
    <div class="login-box-width">
        @*<div class="login-logo">
              <a href="../../index2.html"><b>Admin</b>LTE</a>
            </div>*@
        <!-- /.login-logo -->
        <div class="login-box-body">
            @*<p class="login-box-msg">Sign in to start your session</p>*@
            <div class="login-logo">
                @*<a href="/Accounts/Login" style=" text-align: center;"><b style="color: #ff5e00; font-size: 50px;font-family:Jokerman">OZE</b><span style="color: #ff5e00; font-size: 35px; font-family: 'Arial Unicode MS'; ">.com.vn</span></a>*@
                <i class="logo-icon"></i>
            </div>
            <form action="../../index2.html" method="post"> 
                @*<p class="login-box-msg">Mật khẩu mới sẽ được hệ thống gửi theo email bên dưới!</p>*@   
                <div class="callout callout-info">
                    <p>@ViewBag.MesgEmail</p>
                </div>        
                <div class="input-group">
                    <input type="email" name="email" class="form-control" placeholder="ĐỊA CHỈ EMAIL" autocomplete="off" required>
                    <span class="input-group-btn">
                        <button type="submit" name="command" value="fgpwSub" class="btn btn-info btn-flat">Send</button>
                    </span>
                </div>
                <div class="row">                    
                    <div class="col-xs-7">
                        <div class="checkbox icheck">
                            @Html.ActionLink("Quay lại", "Index", "Accounts", null, null)
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

}

